
.c__filters {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;

  &__range-picker {
    // FIXME - Fix Cunningham flex layout with Date Range Picker.
    min-width: var(--c--components--forms-field--width);
    width: auto;
  }
}