@use "@openfun/warren-core/src/index" as core;
@use "@openfun/warren-video/src/index" as video;
@use "@openfun/warren-document/src/index" as document;
@use "@openfun/warren-moodle/src/index" as moodle;

@import "@openfun/cunningham-react/fonts";
@import "@openfun/cunningham-react/icons";
@import "@openfun/cunningham-react/style";
@import "cunningham-tokens";

:root {
  @extend .bg-greyscale-100;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100vh;
}

a {
  text-decoration: none;
}
