{{- if .Values.persistence.enabled }}
{{- if not .Values.persistence.volumes.media.claimName }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "app.fullname" . }}-media
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  accessModes:
  {{ with .Values.persistence.accessModes }}
    {{- toYaml . | indent 4 }}
  {{- end }}
  storageClassName: {{ .Values.persistence.storageClass }}
  resources:
    requests:
      storage: {{ .Values.persistence.volumes.media.size }}
{{- end }}
{{- if not .Values.persistence.volumes.static.claimName }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "app.fullname" . }}-static
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  accessModes:
  {{ with .Values.persistence.accessModes }}
    {{- toYaml . | indent 4 }}
  {{- end }}
  storageClassName: {{ .Values.persistence.storageClass }}
  resources:
    requests:
      storage: {{ .Values.persistence.volumes.static.size }}
{{- end }}
{{- end }}
